<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>

<h1>KAKAO KARLO MAIN PAGE</h1>

생성 이미지 키워드 입력 : <input class="prompt" /><a class="karlo_btn" href="javascript:void(0)">요청</a>
<hr>
<div class="display"></div>

<div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<!-- axios -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js" integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    const karlo_btn = document.querySelector('.karlo_btn');

    //스피너 추가
    const spinner = document.querySelector('.spinner-border');
    spinner.style.display="none";

    karlo_btn.addEventListener('click',function(){


        spinner.style.display="flex";

        const prompt = document.querySelector('.prompt');

        axios.get(`/kakao/karlo/req/${prompt.value}`)
        .then(resp=>{
            spinner.style.display="none";
            console.log(resp)
            console.log(resp.data.images[0].image);

            const imageTg =  document.createElement("img");
            imageTg.setAttribute("src",resp.data.images[0].image);
            imageTg.setAttribute("width","500px");
            imageTg.setAttribute("height","500px");
            const displayEl = document.querySelector(".display");
            displayEl.prepend(imageTg);

        })
        .catch(err=>{console.log(err)});

    });

</script>

</body>
</html>